full.txt
special.txt
CharacterCount.json
Special.json
WordCount.json
PingGraph.json
Links.json
__pycache__
.env
database.db
global.db
user.db
Raw\full.txt
Data\JamesWords.json
Data\BadWord.json
JamesWords.json
BadWord.json
Data\
venv
Program/__pycache__